body.larger_width{
  /* 980 */
  #wrapper,
  #maincontents,
  #header,
  #information,
  #freespace03,
  .cart_table,
  .kanren,
  #goods_breadcrum
  {width: 1200px}
  
  /* 700-900 */
  #body,
  table.baseframe_,
  td.mainframe_,
  td.rightmenuframe_,
  h1.mag_name_,
  #maincontents2,
  #mypage,
  #footer,
  #breadcrum,
  #breadcrum2,
  #hyouji,
  table.kakuteibox780-80
  .goods_info_title,
  .common_footer_
  {width: auto}
  
  
  /* 590 */
  h1.goods_name_,
  h1.event_name_,
  h1.genre_name_,
  h1.mag_name_,
  .event_title_,
  div.cart_ table,
  div.topiclist_,
  table td.genreclass_line_,
  div.goods_ table.goodsproductdetail_
  {width: auto}

  /*
  table[width*="970"],
  table[width*="802"],
  table[width*="589"],
  table[width*="590"]
  */
  table[width]
  {
    width: 100%;
  }

  .detail_stocktitle_ table{
    width: 100%;
  }

  .thumbox{
    width: auto;

    td{
      width: auto;
    }
    .thumbox_img{
      height: auto;
    }
  }

  #header td[width="420"]{
    width:600px;
  }

  #maincontents2{
    float:none;
  }

  /* 商品詳細ページ */
  .cart_table{
    td[width*="360"] {
      width: 480px;
      padding-right: 20px;

      table, td{
        width:auto;
      }
    }
    #imglink img{
      width: 480px;
      height: auto;
    }
    img[width*="61"] {
      width: 86px;
      margin-right: 8px;
    }
  }
}
