@use "larger.scss";
@use "header.scss";


/* お気に入りボタン */
.cart_table h6,
.kanren h6{
  position:relative;
  padding-right:32px;
}
.bookmark-button{
  position:absolute;
  right:5px;
  top:2px;
  width:32px;
  height:32px;
  background:url(chrome-extension://__MSG_@@extension_id__/img/bookmark_off.svg) 0 0 / 100% 100% no-repeat;
  cursor: pointer;

  &:active{
    transform: translate(1px, 1px);
  }
  &.active{
    background-image:url(chrome-extension://__MSG_@@extension_id__/img/bookmark_on.svg);
  }
}
/* 関連商品のお気に入りボタン */
.kanren{
  .bookmark-button{
    right:0;
    top:0;
    width:24px;
    height:24px;
  }
}
/* 一覧ページのお気に入りボタン */
.mainframe_ .thumbox{
  position:relative;

  .bookmark-button{
    right:0;
    top:0;
    width:24px;
    height:24px;
  }
}

/* 拡大鏡 */
.cart_table .syosai{
  position:relative;
}
.syosai #imglink{
  display: block;
  position: relative;
  cursor: zoom-in;
}
.img-loupe{
  display:none;
  position:absolute;
  left:0;
  top:0;
  width:300px;
  height:300px;
  pointer-events: none;
  background-color: #fff;
  background-repeat: no-repeat;
  border:#111 1px solid;
  z-index: 1;
}

/* 店舗在庫 */
.detail_stocktitle_{
  table{
    width:100%;
    margin-top:10px;
    border-collapse: collapse;
  }
  th,td{
    border:#ddd 1px solid;
    font-weight:normal;
    text-align: left;
    padding:5px;
  }
  th{
    background:#eee;
  }
  .storeqty_ {
    text-align: center;
    font-weight: bold;
  }
  .storename_title_{
    padding:0;
  }
}