#header{
  opacity:0.1;
}

.akizuki-permanent-list{
  /* reset */
  *,*::before,*::after{box-sizing:border-box; margin:0; padding:0;}
  font-size:12px;

  position:fixed;
  left:10px;
  top:12px;

  header{
    position:relative;
    display:inline-block;
    width:32px;
    height:32px;

    .apl-header-icon{
      background:url(chrome-extension://__MSG_@@extension_id__/img/icon.svg) 0 0 / 100% 100% no-repeat;
      width:32px;
      height:32px;
      cursor: pointer;
    }

    .apl-header-length{
      display: inline-block;
      position:absolute;
      right:0;
      bottom:-5px;
      padding:1px 3px;
      background-color:#e2e609;
      height:16px;
      border-radius:6px;
      font-size:10px;
      color:#111;
    }
  }
  .apl-body{
    display:none;
    width:360px;
    padding:12px;
    background:#fff;
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 4px 0px;
    border-radius: 3px;
    z-index: 1;
    position: relative;
  }
  .apl-body.apl-active{
    display:block;
  }
  .apl-list{
    max-height:calc(100vh - 60px);
    overflow-y: auto;

    ul{
      list-style:none;
      padding:0;
      box-sizing:border-box;
    }
    li{
      display:flex;
      align-items: center;
      height: 24px;
    }
  }

  .apl-item-remove{
    width:20px;
    height:20px;
    background:url(chrome-extension://__MSG_@@extension_id__/img/remove.svg) center center / 16px 16px no-repeat;
    cursor: pointer;
  }
  .apl-item-thumb{
    width:32px;
    max-height:24px;
    margin:0 6px;
  }
  .apl-item-name{
    flex:1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:#2C49B2;
  }
  .apl-item-price{
    width:60px;
    text-align: right;
  }

  footer{
    display: flex;
    justify-content: flex-end;
  }
  .apl-cart-button{
    font-size: 12px;
    padding:0 5px;
  }
}


/* add button */
.cart_table h6,
.kanren h6{
  position:relative;
  padding-right:32px;
}
.apl-save-button{
  position:absolute;
  right:5px;
  top:2px;
  width:20px;
  height:20px;
  background:url(chrome-extension://__MSG_@@extension_id__/img/save.svg) 0 0 / 100% 100% no-repeat;
  cursor: pointer;
}



.popup{
  width:400px;

  .akizuki-permanent-list{
    width:100%;
    position: relative;
  }
  .header{
    display:none;
    background:#FDE1F4;

    h1{
      display: inline-block;
      background: linear-gradient(90deg, #e61912, #e99415);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke:1px #7d4e22;
      font-size:20px;
      font-weight: bold;
    }
  }

}

